<div class="action-intercept-menu">
  <h2>{{localize "ACTION_INTERCEPT.ConfigureActions"}}</h2>
  <div class="form-group">
    <label>{{localize "ACTION_INTERCEPT.SelectTrigger"}}</label>
    <select name="trigger">
      {{#each triggers}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "ACTION_INTERCEPT.SelectMacro"}}</label>
    <div class="macro-list">
      {{#each macros}}
      <div class="macro-item" data-macro-id="{{this.id}}">
        <img src="{{this.img}}" title="{{this.name}}" />
      </div>
      {{/each}}
    </div>
  </div>
</div>
