<div class="action-intercept-global-config">
  <h2>Global Action Intercept Configuration</h2>
  <div class="global-config-container">
    {{#each items}}
    <div class="item-row">
      <div class="item-info">
        <img src="{{this.img}}" alt="{{this.name}}" class="item-icon">
        <span class="item-name">{{this.name}}</span>
      </div>
      <div class="action-config">
        <select name="actionInterceptConfig">
          {{#each ../allConfigs}}
          <option value="{{this.id}}" {{#if (eq this.id ../this.interceptId)}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
        <button type="button" class="remove-config">Remove</button>
      </div>
    </div>
    {{/each}}
  </div>
  <button type="button" class="add-item-config">Add Item Configuration</button>
</div>
