<div class="action-intercept-item-config">
    <h2>Configure Quick Access for {{item.name}}</h2>
    <div class="quick-access-container">
        {{#each itemTrigger.quickAccessItems}}
        <div class="quick-access-item">
            <select name="quickAccessItemId">
                {{#each ../allItems}}
                <option value="{{this.id}}" {{#if (eq this.id ../this)}}selected{{/if}}>{{this.name}}</option>
                {{/each}}
            </select>
            <button type="button" class="remove-quick-access">Remove</button>
        </div>
        {{/each}}
    </div>
    <button type="button" class="add-quick-access">
        <select>
            {{#each allItems}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        Add Quick Access Item
    </button>
</div>